{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron" >
    <h1 class="display-4">To-Do App</h1>
      <hr class="my-4">
      <p class="lead">Just another to-do app, nothing to see here...</p>
  </div>

    <div class="row" >
        <div class="col-md-12" >
            <hr class="my-4">
            <h2>Add a New To-Do Item</h2>
            <form action="/create" method="POST">
                <div class="form-inline">
                    <div class="form-group" style="flex: 1">
                        <label class="col-sm-1" for="add_todo">Title:</label>
                        <input style="flex: 1" class="form-control" type="text" id="add_todo" name="add_todo" maxlength="64" placeholder="New to-do">
                    </div>
                    <div>
                        <button class="btn btn-dark" type="submit">Add</button>
                    </div>
                </div>
            </form>
            <hr class="my-4">
        </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <h2 id="todo_table">Your To-Do List</h2>
        <p>This is a list of your to-do items, check them off once completed or delete as required</p>
        <form action="/update" method="POST">
            <div class="form-group">
                <table class="table table-striped" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for item in items %}
                        <tr>
                            <td>{{item.title}}</td>
                            <td>{{item.status}}</td>
                            <td>
                                <select class="custom-select" name="{{ item.id }}">
{#                                <select class="custom-select" name="{{ item.id }}" onchange="this.form.submit()">#}
{#                                    I looked to dynamically update on dropdown pick, but needed some work#}
{#                                    Also I need to update the code here to match action dropdown primary option to current status
                                      and skip updates to values that are the same
                                      as currently the whole list is getting updated back to 'Not Started'#}
                                    <option value="Not Started" name="{{ item.id }}">Not Started</option>
                                    <option value="Completed" name="{{ item.id }}">Completed</option>
                                    <option value="Delete" name="{{ item.id }}">Delete</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div>
                    <button class="btn btn-dark" type="submit">Update List</button>
                </div>
            </div>
        </form>
    </div>
  </div>

{% endblock %}