{% extends "layout.html" %}
{% block title %}Jason B To-Do App{% endblock %}

{% block content %}
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="jumbotron" style="background-color:DodgerBlue;color:White;margin-top:40px;">
            <h1 class="display-4">My To-Do App</h1>
            <hr class="my-4">
            <p class="lead">Now with new and improved Trello API calls + ToDo list sorted by status</p>
        </div>
    </div>

    <div class="tab-pane fade" id="todo_list" role="tabpanel" aria-labelledby="pills-list-tab">
        <div class="col-md-12" style="margin-top:40px;">
            <h2 id="todo_table" style="color:DodgerBlue;">Your To-Do List</h2>
            <p>This is a list of your to-do items, update the status or delete if required</p>
            <div>
                <table class="table" style="width: 100%">
                    <thead style="background-color:DodgerBlue;color:White">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr class="table-dark">
                        <th colspan="5">Not Started Items</th>
                    </tr>
                    {% for todo_item in view_model_items.filter_by_todo_status(view_model_items.todo_statuses[0]) %}
                        <tr>
                        
                            <td contenteditable="true">{{todo_item.title}}</td>
                            <td contenteditable="true">{{todo_item.description}}</td>
                            <td>{{todo_item.due_date}}</td>
                            <td>
                                <select class="custom-select" name="{{ todo_item.trello_id }}" form="{{ todo_item.trello_id }}">
                                    <option selected="selected" value="Not Started" name="{{ todo_item.trello_id }}">Not Started</option>
                                    <option value="In Progress" name="{{ todo_item.trello_id }}">In Progress</option>
                                    <option value="Completed" name="{{ todo_item.trello_id }}">Completed</option>
                                    <option value="Delete" name="{{ todo_item.trello_id }}">Delete</option>
                                </select>
                            </td>
                            <td>
                                <form id="{{ todo_item.trello_id }}" method="POST" action="/update">
                                    <button class="btn btn-dark" style="background-color:DodgerBlue;color:White" type="update" name="{{ todo_item.trello_id }}">Update</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="table-dark"> 
                        <th colspan="5">In Progress Items</th>
                    </tr>
                    {% for todo_item in view_model_items.filter_by_todo_status(view_model_items.todo_statuses[1]) %}
                        <tr>
                        
                            <td contenteditable="true">{{todo_item.title}}</td>
                            <td contenteditable="true">{{todo_item.description}}</td>
                            <td>{{todo_item.due_date}}</td>
                            <td>
                                <select class="custom-select" name="{{ todo_item.trello_id }}" form="{{ todo_item.trello_id }}">
                                    <option value="Not Started" name="{{ todo_item.trello_id }}">Not Started</option>
                                    <option selected="selected" value="In Progress" name="{{ todo_item.trello_id }}">In Progress</option>
                                    <option value="Completed" name="{{ todo_item.trello_id }}">Completed</option>
                                    <option value="Delete" name="{{ todo_item.trello_id }}">Delete</option>
                                </select>
                            </td>
                            <td>
                                <form id="{{ todo_item.trello_id }}" method="POST" action="/update">
                                    <button class="btn btn-dark" style="background-color:DodgerBlue;color:White" type="update" name="{{ todo_item.trello_id }}">Update</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="table-dark">
                        <th colspan="5">Completed Items</th>
                    </tr>
                    {% for todo_item in view_model_items.filter_by_todo_status(view_model_items.todo_statuses[2]) %}
                        <tr>
                        
                            <td contenteditable="true">{{todo_item.title}}</td>
                            <td contenteditable="true">{{todo_item.description}}</td>
                            <td>{{todo_item.due_date}}</td>
                            <td>
                                <select class="custom-select" name="{{ todo_item.trello_id }}" form="{{ todo_item.trello_id }}">
                                    <option value="Not Started" name="{{ todo_item.trello_id }}">Not Started</option>
                                    <option value="In Progress" name="{{ todo_item.trello_id }}">In Progress</option>
                                    <option selected="selected" value="Completed" name="{{ todo_item.trello_id }}">Completed</option>
                                    <option value="Delete" name="{{ todo_item.trello_id }}">Delete</option>
                                </select>
                            </td>
                            <td>
                                <form id="{{ todo_item.trello_id }}" method="POST" action="/update">
                                    <button class="btn btn-dark" style="background-color:DodgerBlue;color:White" type="update" name="{{ todo_item.trello_id }}">Update</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="new_todo" role="tabpanel" aria-labelledby="pills-new-tab">
        <div class="bootstrap-iso">
            <div class="container-fluid">
                <div class="col-md-12" style="margin-top:40px;">
                    <h2 style="color:DodgerBlue;">Add a New To-Do Item</h2>
                    <hr class="my-4">
                    <form action="/create" method="POST">
                        <div class="form-group">
                            <label for="add_todo">Title:</label>
                            <input class="form-control" type="text" id="add_todo" name="add_todo" maxlength="64" placeholder="New To-Do Title">
                        </div>
                        <div class="form-group">   
                            <label for="add_desc">Description:</label>
                            <input class="form-control" type="text" id="add_desc" name="add_desc" maxlength="64" placeholder="To-Do Description">
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="due_date">Due Date:</label>
                            <input class="form-control" id="due_date" name="due_date" placeholder="DD/MM/YYY" type="text"/>
                        </div>
                        <button class="btn btn-dark" style="background-color:DodgerBlue;color:White" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div> 
    </div>

    <script>
        $(document).ready(function(){
            var date_input=$('input[name="due_date"]');
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                todayBtn: 'linked',
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>
{% endblock %}
